@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');

@import url("https://use.typekit.net/wwf2iyo.css");

:root{
/* CSS HEX */
--essay-font-size: 1.4rem;
--kobicha: #60452Aff;
--walnut-brown: #716452ff;
--tigers-eye: #AF6824ff;
--bronze: #C77D13ff;
--bronze-2: #C27B14ff;
--dark-purple: #39212Aff;
--caramel: #BA8658ff;
--wrapper-width: 50%;
--wrapper-width-mobile: 65%;
--body-bg: #F5F5F5;
--header-font:  "Space Grotesk";
/* font for the main title of the web page*/ 
--vollkorn: "Vollkorn";
--lato-font: "Lato", serif;
--vollkorn-sc: "Vollkorn SC", serif;
}

::selection{
    background-color: yellow;
    color: #2c2932;
}

* {
    margin: 0;
}

body {
    font-family: serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--body-bg);

}

header {
    width: 100%;
    /* font-family: var(--header-font), sans-serif; */
    font-family: "bennet-text-four", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
    background-color: oklch(18% 0.06 350);/* Dark, carbon-like ash */
    color: rgb(231, 205, 205);
    padding-top: 4rem;
    /* padding-bottom: 4rem; */
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    margin-bottom: -0.7rem;
    font-family: var(--vollkorn-sc);
    text-align: center; 
    font-size: clamp(4vw, 6vw, 8vw);
    border-top: 10px solid oklch(30% 0.04 20);
    background-color:oklch(30.56% 0.0022 335.43 / 99.41%);  
    /* flex-basis: 100%; */
}

.bottom-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    gap: 1.5rem;

}

.bottom-wrapper > p {
    /* font-family: var(--vollkorn); */
    font-family: "bennet-text-four", sans-serif;


}

.bottom-wrapper div:last-child{
    margin-top: 1rem;
}

.circle{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
    margin-left: 1rem;
    background-color: gray;
    display: inline-block;
    vertical-align:middle;
}

p.header-content{
    color: inherit;
    font-family: var(--vollkorn);
    text-align: left; 
}

.header-content .author-name{
    font-family: var(--vollkorn-sc);
    /* font-size: x-large; */
}

.header-content.reading-time {
    font-size:1rem;
    letter-spacing: 1px;
    background-color: #9ca099;
    max-width: fit-content;
    border-radius: 10px;
    color: #2c2932;
    padding: 0.1rem 0.3rem;
}


#grossman {
    background-image: url(https://m.media-amazon.com/images/M/MV5BMWFhNTMyNTUtNzc2ZS00NzJkLWI4YjQtYmJjNWRmNDE5ZDNjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTc4MzI2NQ@@._V1_.jpg);
    background-size: 100%;
}


a {
    outline-color: transparent;
    text-decoration: none;

}

a:link {
    color: #6900ff;

}

a:visited {
    color: #a5c300;

}

a:focus {
    text-decoration: none;
    background: #bae498;
  }

a:hover {
        text-decoration: none;
        background: #545851;
}

a:active {
    background: #6900ff;
    color: #cdfeaa;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem;
    background-color: var(--tigers-eye);
    margin-top: 1rem;
    font-family: var(--header-font);
}

.footer-text {
    margin: 0.2rem 4rem;
    color: snow;
}

.footer-text > a{
    color: snow;
}

.copyright{
    text-align: center;
}



hr{
    width: var(--wrapper-width);
    /* text-align: center; */
}

#essay-wrapper{
    width: var(--wrapper-width);
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.wikipedia-link{
    color: #36454F;
    text-decoration: none;
    border-bottom: 1px dotted whitesmoke;
}

p {
    margin-bottom: 1rem;
    color: #2c2932;
    font-size: var(--essay-font-size);
    /* font-family: var(--lato-font); */
    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;    
    line-height: 1.5rem;
    text-wrap:pretty;
    /* text-indent: 5%; */

}


h2, h2>a {
    color: #000000;
    font-family: var(--header-font), sans-serif;
    /* font-size: 2rem; */
    padding-bottom: 0.5rem;
    /* font-family: var(--lato-font); */
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    text-decoration: none;
}

a.section-title:visited{
    border: 10px solid red;
    border-radius: 5px;
}


@media only screen and (max-width: 700px) {
    
    * {
        margin: 0 0;
        padding: 0 0;
        box-sizing: border-box;
        /* overflow-x: hidden; */


        /* backgro  und-color: var(--body-bg); */
    }   

    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        /* width: 100vw; Ensures it doesn't exceed the viewport */
        max-width: 100vw;

    }
      

    header {
        /* width:80%; */
        padding: 0.4rem 0.4rem;
        text-align: center;
        max-width: 100%;
    }

    h1 {
        font-size: 12vw  ;
        text-align: center;
        letter-spacing: 0.1rem;
        border-top: none;
        border-radius: 1px;
    }

    .header-content .author-name{
        /* font-family: var(--vollkorn-sc); */
        font-size: x-large;
    }

    .bottom-wrapper{
        display: flex;
        align-items: center;
    }

    .bottom-wrapper div:last-child{
        width: 60%;
    }

    .essay-info{
        position: relative;
    }

    .header-content.reading-time {
        position: absolute;
        font-size:1.2rem;
        /* letter-spacing: 1px; */
        background-color: #9ca099;
        max-width: fit-content;
        border-radius: 10px;
        color: #2c2932;
        /* padding: 0.1rem 0.15rem; */
        text-wrap: nowrap;
        width: fit-content;
        /* margin-left: -1.5rem; */
        /* transform: translate(-50%, 0%); */
        /* transform: translateX(-50vw); */
        /* margin: 0 auto; */
        /* display: block; */
        top: 100%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    

    #essay-wrapper {
        width: initial;
        /* margin: 0 0.5rem; */
        padding: 0 3vw; 
    }

    p{
        font-size: var(--essay-font-size);
        word-wrap: break-word;
        text-wrap:pretty;

        /* text-align: justify; */
        /* text-indent: 5%; */
    }
    footer{
        width: 100%;
    }

    .footer-text {
        margin: 0.2rem 1rem;
    }
}

/* source:   https://www.joshwcomeau.com/gradient-generator/ */

.gradient {
    background-image: linear-gradient(
      135deg,
      hsl(30deg 39% 27%) 0%,
      hsl(30deg 32% 29%) 12%,
      hsl(31deg 27% 31%) 18%,
      hsl(31deg 23% 33%) 22%,
      hsl(32deg 20% 35%) 26%,
      hsl(34deg 18% 37%) 29%,
      hsl(35deg 16% 38%) 33%,
      hsl(30deg 24% 40%) 36%,
      hsl(28deg 32% 41%) 39%,
      hsl(28deg 40% 41%) 42%,
      hsl(28deg 48% 42%) 44%,
      hsl(28deg 56% 42%) 47%,
      hsl(29deg 66% 41%) 50%,
      hsl(28deg 57% 44%) 53%,
      hsl(28deg 51% 47%) 56%,
      hsl(28deg 46% 49%) 58%,
      hsl(28deg 43% 50%) 61%,
      hsl(28deg 42% 52%) 64%,
      hsl(28deg 42% 54%) 67%,
      hsl(28deg 35% 50%) 71%,
      hsl(27deg 34% 45%) 74%,
      hsl(25deg 33% 40%) 78%,
      hsl(22deg 31% 35%) 82%,
      hsl(15deg 27% 28%) 88%,
      hsl(338deg 27% 18%) 100%
    );
  }
